<nav class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseButton">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand" style="color: #c3ff12">LOGO</a>
            </div>

            <div class="collapse navbar-collapse" id="collapseButton">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="sign-up">Sign Up</a></li>
                    <li><a ui-sref="log-in">Log In</a></li>
                </ul>
            </div>

        </div>

    </nav>


    <div class="jumbotron">
        <div class="bg"></div>
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center" id="cimer">
                    <h1>Најди го цимерот што ти треба</h1>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Внеси оглас">
			        <span class="input-group-btn">
        	            <button class="btn btn-default" type="button" id="main-button">Барај</button>
      		        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>