<link rel="stylesheet" href="css/home.css">
<div class="jumbotron bg">
    <div class="container">
        <br/> <br/> <br/><br/><br/>

        <div class="row">

            <div class="col-md-12 text-center" id="cimer">
                <h1 id="main-header">Најди го цимерот што ти треба</h1>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Внеси оглас">
                        <span class="input-group-btn"><button class="btn btn-secondary form-control custom-style"
                                                              type="button"><span
                                class="fa fa-search"></span></button></span>
                </div>
            </div>
        </div>

    </div>

</div>